.free,.plus,.pro{
  border-radius:10px;
  background-color:white;
  width:280px;
  padding: 10px;
  
}
body{
  background-color:#0265E7;
  color:black;
}
.price{
  text-align:center;
  font-size: 40px;
  font-weight: bold;
  margin-left: 66px;
  
}
.heading{
  text-align:center;
}
ul{
  list-style: none;
}
li{
  line-height:35px;
}
.disabled{
  pointer-events:none; 
    opacity:0.6;
}
.price-container{
  display:flex;
  flex-wrap: wrap;
  gap:20px;
  margin:20px;
  height: 500px;
}
.btn{
  text-align: center;
  background-color: #5599FD;
  border-radius:40px;
  width:193px;
  margin-left:30px;
  color:white;
  
}
.btn:hover{
  background-color:#0265E7;
  color: white;
}
.highlight{
  font-weight: bold;
}